{
	"printWidth": 80,
	"tabWidth": 4,
	"trailingComma": "all",
	"singleQuote": true,
	"semi": true,
	"importOrder": [
		"^@core/(.*)$",
		"<THIRD_PARTY_MODULES>",
		"/hooks/",
		"/components/",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}