.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.post__content {
  margin-right: 1rem;
  flex-grow: 1;
}

.form-modal {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  display: none;
}
.form-modal.active {
  display: flex;
}
.form-modal__inner {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  min-width: 500px;
}

.form-modal-enter {
  opacity: 0;
}

.form-modal-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.form-modal-exit {
  opacity: 1;
}

.form-modal-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.post-enter {
  transform: translateX(-200px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-200px);
  transition: all 500ms;
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px dashed green;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.page__current {
  background: red;
}
