
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.post__content {
  margin-right: 1rem;
  flex-grow: 1;
}

.form-modal {
  position: fixed;
  display: none;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

.form-modal__inner {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  min-width: 500px;
}

.form-modal.active {
  display: flex;
}